# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
.venv/
venv/
env/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Media and uploads
media/

# OS files
.DS_Store
Thumbs.db
