asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
diff-match-patch==20241021
Django==6.0.4
django-anymail==14.0
django-ckeditor==6.7.3
django-ckeditor-5==0.2.20
django-crispy-forms==2.5
django-import-export==4.4.0
django-jazzmin==3.0.4
django-js-asset==3.1.2
django-mathfilters==1.0.0
django-taggit==6.1.0
environs==15.0.1
idna==3.13
marshmallow==4.3.0
openpyxl==3.1.5
pillow==12.2.0
python-dotenv==1.2.2
qrcode==8.2
reportlab==4.4.10
requests==2.33.1
sqlparse==0.5.5
tablib==3.9.0
tzdata==2026.2
urllib3==2.6.3
dj-database-url==2.3.0
filetype==1.2.0
